<h1>{{title}}</h1>
<div class="container">
  {{#each products}}
  <div class="card">
    <img src="{{this.thumbnails.[0]}}" alt="Imagen de {{this.title}}">
    <h2>{{this.title}}</h2>
    <p><strong>Descripción:</strong> {{this.description}}</p>
    <p><strong>Precio:</strong> ${{this.price}}</p>
    <p><strong>Stock:</strong> {{this.stock}} unidades</p>
    <p><strong>Categoría:</strong> {{this.category}}</p>
    <hr>
    <strong>Imágenes adicionales:</strong>
    <ul>
      {{#each this.thumbnails}}
      <li><img src="{{this}}" alt="Imagen adicional" width="50"></li>
      {{/each}}
    </ul>
  </div>
  {{/each}}
</div>
